/* Default custom select styles */
@font-face {
	font-family: 'icomoon';
	src:url('/icomoon.eot?-rdnm34');
	src:url('/icomoon.eot?#iefix-rdnm34') format('embedded-opentype'),
		url('icomoon.woff?-rdnm34') format('woff'),
		url('icomoon.ttf?-rdnm34') format('truetype'),
		url('/icomoon.svg?-rdnm34#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

div.swatch-select {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-align: left;
	background: #fff;
	z-index: 100;
	width: 100%;
	max-width: 500px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.swatch-select:focus {
	outline: none; /* For better accessibility add a style for this in your skin */
}

.swatch-select select {
	display: none;
}

.swatch-select span {
	display: block;
	position: relative;
	cursor: pointer;
	padding: 1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Placeholder and selected option */
.swatch-select > span {
	padding-right: 3em;
}

.swatch-select > span::after,
.swatch-select .swatch-selected span::after {
	speak: none;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.swatch-select > span::after {
	content: '\25BE';
	right: 1em;
}

.swatch-select .swatch-selected span::after {
	content: '\2713';
	margin-left: 1em;
}

.swatch-select.swatch-active > span::after {
	-webkit-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
}

/* Options */
.swatch-select .swatch-options {
	position: absolute;
	overflow: hidden;
	width: 100%;
	background: #fff;
	visibility: hidden;
}

.swatch-select.swatch-active .swatch-options {
	visibility: visible;
}

.swatch-select ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.swatch-select ul span {
	padding: 1em;
}

.swatch-select ul li.swatch-focus span {
	background-color: #ddd;
}

/* Optgroup and optgroup label */
.swatch-select li.swatch-optgroup ul {
	padding-left: 1em;
}

.swatch-select li.swatch-optgroup > span {
	cursor: default;
}

div.swatch-modal-picker {
	background: transparent;
	font-size: 1.25em;
	font-weight: 700;
	max-width: 300px;
	z-index: 2000;
	color: #524e4f;
}

@media screen and (max-width: 30em) {
	div.swatch-modal-picker { font-size: 1em; }
}

.swatch-modal-picker > span {
	background: #fff;
	border: 4px solid #524e4f;
}

.swatch-modal-picker .swatch-options {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: auto;
	background: #666;
	font-size: 75%;
	opacity: 0;
	-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
	transition: opacity 0.3s, visibility 0s 0.3s;
}

.swatch-modal-picker.swatch-active .swatch-options {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.swatch-modal-picker .swatch-options ul {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 10px;
}

.swatch-modal-picker .swatch-options li {
	width: 20%;
	height: 25%;
	float: left;
	position: relative;
	cursor: pointer;
	border-radius: 16px;
	overflow: hidden;
	opacity: 0;
	border: 10px solid transparent;
	background-clip: padding-box;
	-webkit-transform: scale3d(0.8,0.8,1);
	transform: scale3d(0.8,0.8,1);
	box-shadow: inset 0 -6em 0 -2em #fff;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

@media screen and (max-width: 30em) {
	.swatch-modal-picker .swatch-options li { box-shadow: none; border-width: 3px; border-radius: 8px;}
}

.swatch-modal-picker.swatch-active .swatch-options li {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.swatch-modal-picker.swatch-active .swatch-options li:nth-child(2) {
	-webkit-transition-delay: 0.01s;
	transition-delay: 0.01s;
}

.swatch-modal-picker.swatch-active .swatch-options li:nth-child(3) {
	-webkit-transition-delay: 0.02s;
	transition-delay: 0.02s;
}

.swatch-modal-picker.swatch-active .swatch-options li:nth-child(4) {
	-webkit-transition-delay: 0.03s;
	transition-delay: 0.03s;
}

.swatch-modal-picker.swatch-active .swatch-options li:nth-child(5) {
	-webkit-transition-delay: 0.04s;
	transition-delay: 0.04s;
}

.swatch-modal-picker.swatch-active .swatch-options li:nth-child(6) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.swatch-modal-picker.swatch-active .swatch-options li:nth-child(7) {
	-webkit-transition-delay: 0.06s;
	transition-delay: 0.06s;
}

.swatch-modal-picker.swatch-active .swatch-options li:nth-child(8) {
	-webkit-transition-delay: 0.07s;
	transition-delay: 0.07s;
}

.swatch-modal-picker.swatch-active .swatch-options li:nth-child(9) {
	-webkit-transition-delay: 0.08s;
	transition-delay: 0.08s;
}

.swatch-modal-picker.swatch-active .swatch-options li:nth-child(10) {
	-webkit-transition-delay: 0.09s;
	transition-delay: 0.09s;
}

.swatch-modal-picker.swatch-active .swatch-options li:nth-child(11) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.swatch-modal-picker.swatch-active .swatch-options li:nth-child(12) {
	-webkit-transition-delay: 0.11s;
	transition-delay: 0.11s;
}

.swatch-modal-picker.swatch-active .swatch-options li:nth-child(13) {
	-webkit-transition-delay: 0.12s;
	transition-delay: 0.12s;
}

.swatch-modal-picker.swatch-active .swatch-options li:nth-child(14) {
	-webkit-transition-delay: 0.13s;
	transition-delay: 0.13s;
}

.swatch-modal-picker.swatch-active .swatch-options li:nth-child(15) {
	-webkit-transition-delay: 0.14s;
	transition-delay: 0.14s;
}

.swatch-modal-picker.swatch-active .swatch-options li:nth-child(16) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.swatch-modal-picker.swatch-active .swatch-options li:nth-child(17) {
	-webkit-transition-delay: 0.16s;
	transition-delay: 0.16s;
}

.swatch-modal-picker.swatch-active .swatch-options li:nth-child(18) {
	-webkit-transition-delay: 0.17s;
	transition-delay: 0.17s;
}

.swatch-modal-picker.swatch-active .swatch-options li:nth-child(19) {
	-webkit-transition-delay: 0.18s;
	transition-delay: 0.18s;
}

.swatch-modal-picker.swatch-active .swatch-options li:nth-child(20) {
	-webkit-transition-delay: 0.19s;
	transition-delay: 0.19s;
}

.swatch-modal-picker .swatch-options li.swatch-selected span::after {
	content: '';
}

@media screen and (max-width: 30em) {
	.swatch-modal-picker .swatch-options li.swatch-selected::after {
		-webkit-transform: translate3d(-50%,-50%,0);
		transform: translate3d(-50%,-50%,0);
	}
}

.swatch-modal-picker .swatch-options li.color-588c75 {
	background-color: #588c75;
}

.swatch-modal-picker .swatch-options li.color-b0c47f {
	background-color: #b0c47f;
}

.swatch-modal-picker .swatch-options li.color-f3e395 {
	background-color: #f3e395;
}

.swatch-modal-picker .swatch-options li.color-f3ae73 {
	background-color: #f3ae73;
}

.swatch-modal-picker .swatch-options li.color-da645a {
	background-color: #da645a;
}

.swatch-modal-picker .swatch-options li.blue-bg9a38f {
	background-color: #79a38f;
}

.swatch-modal-picker .swatch-options li.color-c1d099 {
	background-color: #c1d099;
}

.swatch-modal-picker .swatch-options li.color-f5eaaa {
	background-color: #f5eaaa;
}

.swatch-modal-picker .swatch-options li.color-f5be8f {
	background-color: #f5be8f;
}

.swatch-modal-picker .swatch-options li.color-e1837b {
	background-color: #e1837b;
}

.swatch-modal-picker .swatch-options li.color-9bbaab {
	background-color: #9bbaab;
}

.swatch-modal-picker .swatch-options li.color-d1dcb2 {
	background-color: #d1dcb2;
}

.swatch-modal-picker .swatch-options li.color-f9eec0 {
	background-color: #f9eec0;
}

.swatch-modal-picker .swatch-options li.color-f7cda9 {
	background-color: #f7cda9;
}

.swatch-modal-picker .swatch-options li.color-e8a19b {
	background-color: #e8a19b;
}

.swatch-modal-picker .swatch-options li.color-bdd1c8 {
	background-color: #bdd1c8;
}

.swatch-modal-picker .swatch-options li.color-e1e7cd {
	background-color: #e1e7cd;
}

.swatch-modal-picker .swatch-options li.color-faf4d4 {
	background-color: #faf4d4;
}

.swatch-modal-picker .swatch-options li.color-fbdfc9 {
	background-color: #fbdfc9;
}

.swatch-modal-picker .swatch-options li.color-f1c1bd {
	background-color: #f1c1bd;
}

.swatch-modal-picker .swatch-options span {
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: 2em;
	text-transform: uppercase;
	letter-spacing: 1px;
}

@media screen and (max-width: 30em) {
	.swatch-modal-picker .swatch-options span { display: none; }
}

.swatch-modal-picker .swatch-options li span:hover,
.swatch-modal-picker li.swatch-focus span,
.swatch-modal-picker li.swatch-selected span {
	color: #333;
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #fff;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	padding: 35px 10px;
	border-right: 25px solid #fff;
	border-left: 25px solid #fff;
	font-family: 'Raleway', Arial, sans-serif;
}

body::before,
body::after {
	content: '';
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 25px;
	background: #fff;
	z-index: 1001;
}

body::after {
	top: auto;
	bottom: 0;
}

a {
	color: #1e6fa4;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #125480;
	outline: none;
}

/* Background Color */
.blue-bg { background: #3498DB; color: #fff; }
.blue-bg a { color: #1e6fa4; }
.blue-bg a:hover, .blue-bg a:focus { color: #125480; }

section {
	padding: 4% 1em 10%;
	text-align: center;
}

label.select-label {
	display: block;
	text-transform: uppercase;
	padding: 1em 0 1.5em;
	font-size: 75%;
	letter-spacing: 1px;
	font-weight: 700;
	width: 300px;
	text-align: left;
	margin: 0 auto;
	color: #c0c6c4;
}

@media screen and (max-width: 30em) {

	body::before,
	body::after {
		display: none !important;
	}

	body {
		border: none !important;
		padding: 0 !important;
	}

	.demo-header h1 {
		font-size: 2em;
	}

}
.swatch-modal-picker .swatch-options li.swatch-selected::after {
   font-family: 'icomoon';
   content: '\e00d';
   color: #FFF;
   position: absolute;
   font-size: 2em;
   top: 50%;
   left: 50%;
   -webkit-transform: translate3d(-50%,-50%,0) translate3d(0,-1em,0);
   transform: translate3d(-50%,-50%,0) translate3d(0,-1em,0);
}
